
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --a:0;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: black;
    color: white;
}
.close{
    display: none;
}

.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 73vw;
    position: relative;
}

.scroll{
    height: 73vh;
    overflow: scroll;
}

.timevol{
    display: flex;
}
.volume{
    display: flex;
}
.range{
    align-items: center;
    margin-left: 8px;
}

.home{
    padding: 10px;
}
.home .logo img{
    width: 100px;
}
.home ul li{
    display: flex;
    list-style: none;
    width: 14px;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}
.big-black{
    background-color: black;
    color: white;
}
.big-grey{
    background-color: #121212;
}
.heading{
    display: flex;
    width: 100%;
    gap: 15px;
    padding-top: 14px;
    align-items: center;
    font-size: 13px;
}
.heading img{
    width: 25px;
}

.library{
    min-height: 74vh;
    position: relative;
}
.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 6px;
    position: absolute;
    bottom: 0;
    bottom: 10px ;
}
.footer a{
    color: grey;
}
.right{
    margin-top: 15px;
    height: 100%;

}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #333232;
    height: 70px;
}
.header >*{
    padding: 20px;
}
.spotify-playlist{
    padding: 16px;
}
.spotify-playlist h1{
    padding: 10px;
    font-size: 25px;
}
.card-wrapper {
    height: 300px;
    width: 100%;
    overflow-x: auto;
    padding: 10px 0;
}
.card-container {
    display: flex;
    width: max-content;
}
.card {
    position: relative;   
    width: 176px;
    height: 270px;
    /* background-color: #181818; */
    border-radius: 12px;
    flex-shrink: 0;          /* prevents shrinking */
    padding: 10px;
    color: white;
    text-align: center;
}
.card-wrapper::-webkit-scrollbar {
    height: 6px;
}

.card-wrapper::-webkit-scrollbar-track {
    background: #222;
}

.card-wrapper::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}
/* Hide scrollbar only for card-wrapper */
.card-wrapper {
    scrollbar-width: none;     /* Firefox */
}

.card-wrapper::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Edge */
}

.card img{
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 8px;
}
.card h2{
    font-size: 20px;
    padding-left: 10px;
    margin-top: 5px; 
    text-align: left; 
}
.card p{
    padding-left: 10px;
    text-align: left;
}



.card:hover{
    background-color: #181818;
    cursor: pointer;
    --a: 1;
}
.play{
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 145px;
    right: 15px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.buttons{
    display: flex;
}

.scroll-wrapper {
    width: 100%;
    overflow-x: auto;
    padding: 10px 0;
    scrollbar-width: none; 
}

/* scrolling flex container */
.scroll-container {
    
    display: flex;
    gap: 16px;
    width: max-content;
}

/* individual cards */
.music-card {
    width: 150px;
    height: 200px; 
    border-radius: 88px;
    flex-shrink: 0;          /* prevents shrinking */
    padding: 10px;
    color: white;
    text-align: center;
}

.music-card:hover{
    background-color: #181818;
    cursor: pointer;
    --a: 1;
}

.music-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 80px;
}

/* optional scrollbar styling */
.scroll-wrapper::-webkit-scrollbar {
    height: 6px;
}

.scroll-wrapper::-webkit-scrollbar-track {
    background: #222;
}

.scroll-wrapper::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

.signupbtn{
    background-color: #333232;
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    padding-right: 12px;
}
.signupbtn.honver{
    font-weight: bold;
    font-size: 17px;
    color: white
}
.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
}

.playbar{
    position: fixed;
    bottom: 20px;
    background-color: #1fdf64;
    /* width: 93%; */
    padding: 12px;
    width: 68vw;
    border-radius: 10px;
}
.seekbar{
    height: 2px;
    width: 96%;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    bottom: 2px;
    cursor: pointer;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons{
    display: flex;
    gap: 18px;
    justify-content: center;
}

.songbuttons img {
    width: 18px;
    height: 18px;  /* reduce height */
    filter: invert; /* keep icons white */
    cursor: pointer;
}

.songbuttons img:hover {
    transform: scale(1.15);
    transition: 0.2s ease-in-out;
}

.songList{
    height: 460px;
    overflow: scroll;
    margin-bottom: 20px;
}
.songList ul {
   padding: 15px 20px;
}
.songList ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}
.songList .info {
    font-size: 13px;
    width: 344px;
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span{
    font-size: 12px;
    width: 64px;
}

.songinfo,.songtime{
    color: black;
    padding: 0 10px;
}
.abovebar{
    display: flex;
    justify-content: space-between;
}

.songinfo {
    font-size: 13px; /* smaller text */
}
.songinfo {
    color: black;
    padding: 0 10px;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    display: inline-block;
}

.songinfo:hover {
    overflow: visible;
    white-space: normal;
    background: #1fdf64;
    padding: 8px;
    border-radius: 6px;
    position: absolute;
    z-index: 10;
}

/* Hide scrollbar for Chrome, Safari, Edge */
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Hide scrollbar for Firefox */
body {
    scrollbar-width: none;
}

/* Hide scrollbar for Internet Explorer + old Edge */
body {
    -ms-overflow-style: none;
}

.hamburger{
    display: none;
}
.hamburgerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media (max-width: 700px) {
    .left{
        position: absolute;
        left: -160%;
        transition: all .3s;
        z-index: 1;
        width: 300px;
        background-color: black;
    }
    .left .close{
        position: absolute;
        right: 20px;
        top: 25px;
        width: 29px;
    }
    .right {
        width: 100vw;
        margin-top: 0;
    }
    .playbar{
        width: 83vw;
    }
    .hamburger{
        display: block;
    }
    .songtime {
        font-size: 9px;
    }

    .seekbar{
        width: 90%;
    }

    .songinfo {
        font-size: 10px;
        max-width: 140px;
    }
    .card{
        height: 385px;
        width: 90vw;
        justify-content: center;
    }
    .card img{
        margin-left: 17px;
        margin-right: 17px;
    }
    .abovebar{
        flex-direction: column;
        gap: 10px;
    }
    .close{
        display: block;
    }
    .timevol{
        height: 15px;
    }
    .volume{
        width: 50px;
    }
    .card{
        height: 385px;
        width: 90vw;
        justify-content: center;
    }
}

@media (max-width: 1030px) {
    .songinfo {
        font-size: 12px;  /* smaller text */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 180px; /* adjust as needed */
    }


    .playnow img {
        margin-left: -35px; /* <<< move icon slightly left */
    }
    .songList ul {
        padding: 15px 0px;
    }
}