
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
    position: relative;
}
.home{
    padding: 10px;
}
.home ul li{
    display: flex;
    list-style: none;
    width: 14px;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}
.big-black{
    background-color: black;
    color: white;
}
.big-grey{
    background-color: #121212;
}
.heading{
    display: flex;
    width: 100%;
    gap: 15px;
    padding-top: 14px;
    align-items: center;
    font-size: 13px;
}
.heading img{
    width: 25px;
}

.library{
    min-height: 74vh;
    position: relative;
}
.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 6px;
    position: absolute;
    bottom: 0;
    bottom: 10px ;
}
.footer a{
    color: grey;
}
.right{
    margin-top: 15px;
    height: 95vh;

}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #333232;
    height: 70px;
}
.header >*{
    padding: 20px;
}
.spotify-playlist{
    padding: 16px;
}
.card{
    width: 200px;
    height: 300px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card img{
    width: 90%;
    object-fit: contain;
    margin-left: 10px;
    border-radius: 7px;
    margin-top: 10px;
}
.card h2{
    font-size: 20px;
    padding-left: 10px;
    margin-top: 5px;  
}
.card p{
    padding-left: 10px;
}
.cardContainer{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    overflow-x: auto;
    
}
.play{
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 145px;
    right: 15px;
    opacity: 0;
}

.signupbtn{
    background-color: #333232;
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    padding-right: 12px;
}
.signupbtn.honver{
    font-weight: bold;
    font-size: 17px;
    color: white
}
.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
}

.playbar{
    position: fixed;
    bottom: 20px;
    background-color: #1fdf64;
    width: 93%;
    padding: 12px;
    width: 70vw;
    border-radius: 10px;
}
.seekbar{
    height: 2px;
    width: 98%;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    bottom: 2px;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons{
    display: flex;
    gap: 18px;
    justify-content: center;
}
.songList{
    height: 460px;
    overflow: scroll;
    margin-bottom: 20px;
}
.songList ul {
   padding: 15px 20px;
}
.songList ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}
.songList .info {
    font-size: 13px;
    width: 344px;
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span{
    font-size: 12px;
    width: 64px;
}

/* Hide scrollbar for Chrome, Safari, Edge */
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Hide scrollbar for Firefox */
body {
    scrollbar-width: none;
}

/* Hide scrollbar for Internet Explorer + old Edge */
body {
    -ms-overflow-style: none;
}
